<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Room 2</title>
    <link rel="stylesheet" href="Style/Room2.css">
</head>
<body>
    <button class="back-btn" onclick="history.back()">← Back</button>

    <h1>Rooms 2</h1>

    <section>

        <div class="button-container">
            <a href="Lights.html">
                <button class="btn">Lights</button>
            </a>
            <a href="Air-condition.html">
                <button class="btn">Air-condition</button>
            </a>
            <a href="Fans.html">
                <button class="btn">Fans</button>
            </a>
            <a href="Windows.html">
                <button class="btn">Windows</button>
            </a>
        </div>
        </section>
</body>
</html>