<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Rooms</title>
    <link rel="stylesheet" href="Style/Rooms.css">
</head>
<body>
    <button class="back-btn" onclick="history.back()">← Back</button>

    <h1>Rooms</h1>

    <section>

        <div class="button-container">
            <a href="Room1.html">
                <button class="btn">Room 1</button>
            </a>
            <a href="Room2.html">
                <button class="btn">Room 2</button>
            </a>
            <a href="Room3.html">
                <button class="btn">Room 3</button>
            </a>
            <a href="Room4.html">
                <button class="btn">Room 4</button>
            </a>
        </div>
        <section />
</body>
</html>
